@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

@layer components {
	.button {
		@apply rounded-md font-sourceCodePro text-[1rem] font-bold uppercase tracking-wider;
	}
}

@layer utilities {
	.padding {
		@apply px-8 py-12 sm:px-16 sm:py-24;
	}
}
